<h2>Products Index Page</h2>

<% if current_user %>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>